@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.woff2") format("woff2");
  font-display: swap;
}

@theme {
  --font-inter: "Inter", sans-serif;
  --color-paint-red: #d00000;
}
